Source: cjs
Section: interpreters
Priority: optional
Maintainer: Linux Mint <root@linuxmint.com>
Build-Depends: autotools-dev,
               dbus-x11,
               debhelper (>= 9),
               dh-autoreconf,
               gnome-pkg-tools,
               gobject-introspection (>= 1.32.0),
               libcairo2-dev,
               libdbus-glib-1-dev,
               libgirepository1.0-dev (>= 1.32.0),
               libglib2.0-dev (>= 2.32),
               libmozjs185-dev,
               pkg-config,
               uuid-runtime
Standards-Version: 3.9.5
XS-Testsuite: autopkgtest

Package: cjs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Mozilla-based javascript bindings for the Cinnamon platform
 Makes it possible for applications to use all of Cinnamon's platform
 libraries using the Javascript language. It's mainly based on the
 Mozilla javascript engine and the GObject introsepection framework.
 .
 This package is the frozen version of gjs that the cinnamon desktop currently
 uses.
 .
 This package contains the interactive console application.

Package: libcjs0
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libcjs0c, libcjs0a
Replaces: libcjs0c, libcjs0a
Description: Mozilla-based javascript bindings for the Cinnamon platform
 Makes it possible for applications to use all of Cinnamon's platform
 libraries using the Javascript language. It's mainly based on the
 Mozilla javascript engine and the GObject introspection framework.
 .
 This package is the frozen version of gjs that the cinnamon desktop currently
 uses.
 .
 This is the shared library applications link to.

Package: libcjs-dev
Architecture: any
Section: libdevel
Depends: libcjs0 (= ${binary:Version}),
         libdbus-1-dev,
         libgirepository1.0-dev,
         libmozjs185-dev,
         ${misc:Depends}
Description: Mozilla-based javascript bindings for the Cinnamon platform
 Makes it possible for applications to use all of Cinnamon's platform
 libraries using the Javascript language. It's mainly based on the
 Mozilla javascript engine and the GObject introspection framework.
 .
 This package is the frozen version of gjs that the cinnamon desktop currently
 uses.
 .
 This package contains the development files applications need to
 build against.

Package: libcjs-dbg
Priority: extra
Architecture: any
Section: debug
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libcjs0 (= ${binary:Version}), ${misc:Depends}
Description: Mozilla-based javascript bindings for the Cinnamon platform
 Makes it possible for applications to use all of Cinnamon's platform
 libraries using the Javascript language. It's mainly based on the
 Mozilla javascript engine and the GObject introspection framework.
 .
 This package is the frozen version of gjs that the cinnamon desktop currently
 uses.
 .
 This package contains the symbols files needed to debug the applications that
 use the cjs's shared library.
